Repository termfx/morfx: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, gci, govulncheck, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-go-mod-replace, check-todos, check-license-headers

Path conditions:
  gofumpt: any of: \.go$
  gci: any of: \.go$
  govulncheck: any of: go\.(mod|sum)$
  staticcheck: any of: \.go$
  go-test-coverage: any of: \.go$
  go-test-race: any of: \.go$
  go-generate-check: any of: \.go$
  morfx-golden-tests: any of: (\.go$|testdata/.*\.snap$)
  check-go-mod-replace: any of: go\.mod$
  check-todos: any of: \.go$
  check-license-headers: any of: \.go$

feat(parser): comprehensive testing suite with 88% coverage
  internal/parser/performance_test.go
  internal/parser/provider_integration_test.go
  internal/parser/universal_test.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

Refactor: Introduce Core Universal Types and Provider Interface
  internal/provider/contract.go
  internal/types/core.go
  internal/types/provider.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

Refactor: Universal Parser (Language-Agnostic DSL)
  internal/parser/performance_test.go
  internal/parser/provider_integration_test.go
  internal/parser/universal.go
  internal/parser/universal_test.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

Refactor: Universal Evaluator (Language-Agnostic Evaluation Engine)
  internal/evaluator/universal.go
  internal/evaluator/universal_test.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

Feature: Language Provider Implementations (Go, JS, Python, TS)
  internal/lang/golang/provider.go
  internal/lang/golang/provider_test.go
  internal/lang/javascript/provider.go
  internal/lang/python/provider.go
  internal/lang/typescript/provider.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

Refactor: Language Registry (Pluggable Architecture Management)
  internal/registry/registry.go
  internal/registry/registry_test.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

Refactor: CLI and Configuration Update
  cmd/morfx/main.go
  cmd/morfx/universal_main.go
  internal/config/checks.go
  internal/config/cli.go
  internal/model/model.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

Refactor: Integrate Post-Processing into Manipulator
  internal/manipulator/manipulator.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

Refactor: Custom Unified Diff Implementation
  go.mod
  go.sum
  internal/util/file.go
Due: gofumpt, gci, govulncheck, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-go-mod-replace, check-todos, check-license-headers

Feature: Database Schema and Encryption Enhancements
  internal/db/api.go
  internal/db/db_crash_test.go
  internal/db/encrypt.go
  internal/db/migrate.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

Docs: Update README and Add New Documentation
  README.md
  docs/api/DSL_REFERENCE.md
  docs/architecture/PLUGIN_ARCHITECTURE.md
  docs/guides/CREATING_PROVIDERS.md
Due: none

Fix: Update Go Language Provider Tests
  internal/lang/golang/dsl_snapshots_test.go
  internal/lang/golang/e2e_test.go
  internal/lang/golang/integration_test.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

Feature: Add New Core Types and Tests
  internal/core/contracts.go
  internal/core/contracts_test.go
  internal/core/fuzzy.go
  internal/core/fuzzy_test.go
  internal/core/pipeline.go
  internal/core/pipeline_test.go
  internal/core/types.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

Feature: Add New CLI Command morfx/providers.go
  cmd/morfx/providers.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

Feature: Add New Validation Commands
  cmd/validate-architecture/main.go
  cmd/validate-functionality/main.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

Feature: Add New Test Files for CLI and Config
  internal/cli/dispatcher_test.go
  internal/config/checks_test.go
  internal/config/cli_test.go
  internal/config/config_test.go
  internal/config/output_test.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

Feature: Add New Test Files for DB and Encryption
  internal/db/api_test.go
  internal/db/db_main_test.go
  internal/db/db_utils_test.go
  internal/db/encrypt_test.go
  internal/db/test_crash_cpa.txt
  internal/db/test_crash_cpb.txt
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

Feature: Add New Integration and Language Validation Tests
  internal/integration_simple_test.go
  internal/integration_test.go
  internal/lang/cross_language_validation_test.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

Feature: Add New Language Provider Tests (JS, Python, TS)
  internal/lang/javascript/provider_test.go
  internal/lang/python/provider_test.go
  internal/lang/typescript/provider_test.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

Feature: Add New Manipulator, Matcher, Parser, Provider, Types, and Util Tests
  internal/manipulator/manipulator_test.go
  internal/matcher/matcher_test.go
  internal/parser/universal_language_agnostic_test.go
  internal/provider/contract_test.go
  internal/types/types_test.go
  internal/util/diff_test.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

Feature: Add Test Data
  internal/testdata/samples/sample.go
  internal/testdata/samples/sample.js
  internal/testdata/samples/sample.py
  internal/testdata/samples/sample.ts
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

refactor(db): rename error variables to avoid shadowing and improve clarity
  internal/config/cli.go
  internal/core/contracts_test.go
  internal/core/pipeline.go
  internal/db/api.go
  internal/db/api_test.go
  internal/db/db.go
  internal/db/db_nofts5_test.go
  internal/db/db_test.go
  internal/db/db_utils_test.go
  internal/db/encrypt.go
  internal/db/encrypt_test.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

ci: migrate from pre-commit to GitHub Actions workflow
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
Due: none

ci: simplify go module caching in workflows
  .github/workflows/ci.yml
Due: none

ci(workflow): update golangci-lint action and add permissions
  .github/workflows/ci.yml
Due: none

ci: update golangci-lint-action from v6 to v7
  .github/workflows/ci.yml
Due: none

ci: update golangci-lint configuration for v2.4.0
  .golangci.yml
Due: none

ci: update golangci-lint output format configuration
  .golangci.yml
Due: none

ci: update golangci-lint configuration to v2 format
  .golangci.yml
Due: none

feat: morfx v1.0.0 - Enterprise MCP Server for AI-driven code transformations
  .gitignore
  .golangci.yml
  LICENSE
  README.md
  cmd/morfx/main.go
  core/types.go
  db/postgres.go
  go.mod
  go.sum
  mcp/append_handler.go
  mcp/apply_handler.go
  mcp/async_staging.go
  mcp/config.go
  mcp/errors.go
  mcp/handlers.go
  mcp/http_server.go
  mcp/protocol.go
  mcp/server.go
  mcp/staging.go
  mcp/tools.go
  mcp/transform_handlers.go
  mcp/utils.go
  models/models.go
  providers/contract.go
  providers/golang/append.go
  providers/golang/cache.go
  providers/golang/parallel_query.go
  providers/golang/pipeline.go
  providers/golang/provider.go
  providers/golang/transform.go
Due: gofumpt, gci, govulncheck, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-go-mod-replace, check-todos, check-license-headers

feat: v1.1.0 - OAuth Authentication & Enhanced HTTP Server
  .env.example
  .golangci.yml
  CHANGELOG.md
  Makefile
  README.md
  cmd/morfx/main.go
  core/types.go
  db/postgres.go
  go.mod
  go.sum
  mcp/append_handler.go
  mcp/apply_handler.go
  mcp/async_staging.go
  mcp/config.go
  mcp/errors.go
  mcp/handlers.go
  mcp/http_server.go
  mcp/oauth_handlers.go
  mcp/oauth_session.go
  mcp/oauth_validator.go
  mcp/protocol.go
  mcp/server.go
  mcp/staging.go
  mcp/tools.go
  mcp/transform_handlers.go
  models/models.go
  providers/contract.go
  providers/golang/append.go
  providers/golang/cache.go
  providers/golang/parallel_query.go
  providers/golang/pipeline.go
  providers/golang/provider.go
  providers/golang/transform.go
Due: gofumpt, gci, govulncheck, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-go-mod-replace, check-todos, check-license-headers

feat: v1.2.0 - Advanced Safety + MCP-Only Architecture
  .env.example
  CHANGELOG.md
  Makefile
  README.md
  SAFETY.md
  cmd/morfx/main.go
  core/atomicwriter.go
  core/fileprocessor.go
  core/filewalker.go
  core/transaction.go
  core/types.go
  db/postgres.go
  db/sqlite.go
  go.mod
  go.sum
  mcp/append_handler.go
  mcp/config.go
  mcp/errors.go
  mcp/file_handlers.go
  mcp/handlers.go
  mcp/http_server.go
  mcp/logging.go
  mcp/oauth_handlers.go
  mcp/oauth_session.go
  mcp/oauth_validator.go
  mcp/prompts.go
  mcp/resources.go
  mcp/safety.go
  mcp/server.go
  mcp/tools.go
  mcp/transaction_log.go
  mcp/transform_handlers.go
  models/models.go
Due: gofumpt, gci, govulncheck, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-go-mod-replace, check-todos, check-license-headers

feat(providers): implement multi-language provider architecture
  CHANGELOG.md
  README.md
  cmd/morfx/main.go
  mcp/handlers.go
  mcp/handlers_test.go
  mcp/resources.go
  mcp/resources_test.go
  mcp/server.go
  providers/base/cache.go
  providers/base/provider.go
  providers/golang/append.go
  providers/golang/config.go
  providers/golang/parallel_query.go
  providers/golang/pipeline.go
  providers/golang/provider.go
  providers/javascript/config.go
  providers/javascript/provider.go
  providers/php/config.go
  providers/php/provider.go
  providers/python/config.go
  providers/python/provider.go
  providers/typescript/config.go
  providers/typescript/provider.go
  tools/coverage-check/main.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

fix: file_delete safety threshold, error propagation, confidence scoring
  core/fileprocessor.go
  providers/base/provider.go
  providers/python/provider_test.go
  providers/typescript/provider_test.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers
