Repository termfx/morfx: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, gci, govulncheck, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-go-mod-replace, check-todos, check-license-headers

Path conditions:
  gofumpt: any of: \.go$
  gci: any of: \.go$
  govulncheck: any of: go\.(mod|sum)$
  staticcheck: any of: \.go$
  go-test-coverage: any of: \.go$
  go-test-race: any of: \.go$
  go-generate-check: any of: \.go$
  morfx-golden-tests: any of: (\.go$|testdata/.*\.snap$)
  check-go-mod-replace: any of: go\.mod$
  check-todos: any of: \.go$
  check-license-headers: any of: \.go$

feat: expose structured metadata in CallToolResult for API consumers
  mcp/handlers.go
  mcp/tools/query.go
  mcp/transform_finalize.go
  mcp/types/types.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

release: ship v1.5.1 standalone + tfx dogfooding
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .golangci.yml
  Makefile
  README.md
  cmd/morfx/main.go
  cmd/morfx/main_execution_test.go
  cmd/morfx/main_test.go
  db/integration_test.go
  docs/release-notes-v1.5.1.md
  docs/standalone-recipes.md
  docs/standalone-tools.md
  go.mod
  go.sum
  internal/buildinfo/buildinfo.go
  mcp/handlers.go
  mcp/handlers_test.go
  mcp/resources.go
  mcp/resources_test.go
  tfx.yaml
  tools/scripts/dogfood-tfx.sh
  tools/scripts/smoke-standalone.sh
Due: gofumpt, gci, govulncheck, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-go-mod-replace, check-todos, check-license-headers

fix: repair GitHub Actions TFX workflow commands
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore: reset release strategy to v1.0.x line
  .github/workflows/ci.yml
  .github/workflows/release.yml
  docs/release-notes-v1.0.0.md
  docs/release-notes-v1.1.0.md
  docs/release-notes-v1.5.1.md
Due: none

ci: make TFX smoke advisory on GitHub runners
  .github/workflows/ci.yml
Due: none

ci: allow republishing release tags
  .github/workflows/release.yml
Due: none

ci: preserve curated release titles
  .github/workflows/release.yml
Due: none

docs: clarify morfx positioning and standalone workflow
  README.md
  docs/standalone-tools.md
Due: none

docs: add morfx ship-readiness design
  docs/superpowers/specs/2026-04-21-morfx-ship-readiness-design.md
Due: none

refactor: unify morfx runtime composition
  internal/runtime/runtime.go
  internal/runtime/runtime_test.go
  internal/toolenv/env.go
  mcp/server.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

fix: preserve empty transaction dir runtime behavior
  internal/runtime/runtime.go
  internal/runtime/runtime_test.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

Refactor provider match targets out of core
  core/types.go
  providers/base/match_types.go
  providers/base/provider.go
  providers/base/provider_test.go
  providers/golang/config.go
  providers/javascript/config.go
  providers/php/config.go
  providers/python/config.go
  providers/typescript/config.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

Fix provider target ordering and compat
  providers/base/provider.go
  providers/base/provider_test.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

Fix query expansion and validation flow
  providers/base/provider.go
  providers/base/provider_test.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

Fix alias validation and PHP property names
  providers/base/provider_test.go
  providers/golang/config.go
  providers/php/config.go
  providers/python/config.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

Enforce semantic method query validation
  providers/base/provider.go
  providers/base/provider_test.go
  providers/javascript/config.go
  providers/php/config.go
  providers/typescript/config.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

Deduplicate overlapping expanded targets
  providers/base/provider.go
  providers/base/provider_test.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

Normalize PHP variable wrapper targets
  providers/base/provider_test.go
  providers/php/config.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

Refactor base provider parser seam
  providers/base/cache.go
  providers/base/parser_adapter.go
  providers/base/parser_adapter_test.go
  providers/base/provider.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

Fix base cache parser seam compatibility
  providers/base/cache.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

Consolidate standalone toolcmd helpers
  cmd/append/main.go
  cmd/delete/main.go
  cmd/insert_after/main.go
  cmd/insert_before/main.go
  cmd/replace/main.go
  internal/toolcmd/format.go
  internal/toolcmd/toolcmd_test.go
  internal/toolcmd/transform.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

Harden Windows verification paths
  .github/workflows/ci.yml
  .github/workflows/release.yml
  core/atomicwriter_edge_test.go
  db/sqlite.go
  go.mod
  go.sum
  tools/coverage-check/main_test.go
  tools/scripts/build-standalone.ps1
  tools/scripts/smoke-standalone.ps1
  tools/scripts/smoke-standalone.sh
  tools/scripts/verify-windows.ps1
Due: gofumpt, gci, govulncheck, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-go-mod-replace, check-todos, check-license-headers

Tighten Windows verification follow-up
  .github/workflows/release.yml
  core/atomicwriter_edge_test.go
  db/sqlite_test.go
  tools/scripts/verify-windows.ps1
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

Align Morfx quality gates and Windows docs
  .golangci.yml
  README.md
Due: none

docs: narrow Windows compiler claim
  README.md
Due: none

fix: restore provider AST name extraction
  providers/base/provider_test.go
  providers/javascript/config.go
  providers/javascript/config_test.go
  providers/javascript/provider_test.go
  providers/php/config.go
  providers/php/provider_test.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

fix: harden windows rollback and staging cleanup
  core/transaction.go
  core/transaction_edge_test.go
  mcp/safety.go
  mcp/safety_test.go
  mcp/server_test.go
  mcp/test_db_helpers.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

fix: stabilize core windows test coverage
  core/atomicwriter_extended_test.go
  core/atomicwriter_test.go
  core/fileprocessor_test.go
  core/filewalker.go
  core/filewalker_advanced_test.go
  core/testhelpers_test.go
  core/transaction_test.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

test: align file query glob expectations
  mcp/tools/file_query_test.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

fix: stabilize CI lint and tfx gates
  .github/workflows/ci.yml
  Makefile
  cmd/append/main.go
  cmd/delete/main.go
  cmd/insert_after/main.go
  cmd/insert_before/main.go
  cmd/replace/main.go
  providers/base/parser_adapter.go
  providers/base/provider.go
  tfx.yaml
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

chore: remove superpowers design doc from PR
  docs/superpowers/specs/2026-04-21-morfx-ship-readiness-design.md
Due: none

feat: add repeatable recipes
  .github/workflows/release.yml
  CHANGELOG.md
  Makefile
  README.md
  cmd/recipe/main.go
  cmd/recipe/main_test.go
  core/recipe.go
  core/recipe_test.go
  docs/release-notes-v0.2.0.md
  docs/standalone-recipes.md
  docs/standalone-tools.md
  mcp/handlers_test.go
  mcp/registry.go
  mcp/tools/recipe.go
  mcp/tools/recipe_test.go
  mcp/tools/registry.go
  mcp/tools/registry_test.go
  mcp/tools_test.go
  tfx.yaml
  tools/scripts/build-standalone.ps1
  tools/scripts/smoke-standalone.ps1
  tools/scripts/smoke-standalone.sh
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

ci: refresh gosec code scanning
  .github/workflows/ci.yml
  .gitignore
  Makefile
  cmd/morfx/main.go
  core/atomicwriter.go
  core/fileprocessor.go
  core/process_windows.go
  core/transaction.go
  db/sqlite.go
  internal/runtime/runtime.go
  internal/securefs/securefs.go
  mcp/config.go
  mcp/handlers.go
  mcp/paths.go
  mcp/safety.go
  mcp/safety_process_windows.go
  mcp/staging.go
  mcp/transaction_log.go
  tools/coverage-check/main.go
  tools/coverage-report/main.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

Release v0.4.0
  .github/workflows/release.yml
  CHANGELOG.md
  Makefile
  README.md
  core/dsl.go
  core/dsl_test.go
  core/types.go
  docs/contributing-language-providers.md
  docs/dsl.md
  docs/release-notes-v0.4.0.md
  docs/release-notes-v1.0.0.md
  docs/release-notes-v1.1.0.md
  docs/standalone-tools.md
  mcp/prompts.go
  mcp/prompts_test.go
  mcp/resources.go
  mcp/resources/resources.go
  mcp/resources_test.go
  mcp/tools/base.go
  plugins/morfx-codex/skills/morfx/SKILL.md
  providers/base/match_types.go
  providers/base/provider.go
  providers/javascript/dsl_query_test.go
  public_surface_test.go
  tools/release-metadata/main.go
  tools/release-metadata/main_test.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

Document PHP Composer wrapper
  README.md
Due: none

refactor(cmd): route standalone tools through engine
  cmd/file_query/main.go
  cmd/file_query/main_test.go
  cmd/file_replace/main.go
  cmd/file_replace/main_test.go
  cmd/query/main.go
  cmd/query/main_test.go
  cmd/recipe/main.go
  cmd/recipe/main_test.go
  cmd/replace/main.go
  cmd/replace/main_test.go
  engine/files.go
  engine/recipe.go
  engine/types.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

feat: add engine stage apply lifecycle
  engine/stage_apply_test.go
  engine/staging.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers

fix(core): harden atomic writer stale lock handling
  core/atomicwriter.go
  core/atomicwriter_lock_test.go
Due: gofumpt, gci, staticcheck, go-test-coverage, go-test-race, go-generate-check, morfx-golden-tests, check-todos, check-license-headers
